@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-family: 'Fredoka One', cursive;
    background-color: #5800FF;   
}

section#Selecionar-Mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  


h1.Titulo{
    width: 550px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* border: 5px solid #F2DF3A; */
    color:white;
    font-size: 32px;
    margin: auto;
}


h2.subtitulos{
    color:white;
    font-size: 24px; 
}


section#Selecionar-Mascota{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}



div.Combate{
    display: flex;
    /* width: 650; */
    height: 30px;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    margin: 10px;

}

.Targetas{
    display: flex;
    gap:10px;
}

.targeta_diseño{
    width: 100px;
    height: 150px;
    background-color: #3AB4F2;
    padding: 8px;
    box-sizing: border-box;
    margin: 4px;
    border: 4px solid #AFB4FF;
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    align-content: space-around;
    justify-content: flex-start;
    flex-direction: column;
}

.Targetas img{
    width: 60px;
}


button#buttom_selec_mascota{
    width: 90px;
    height: 30px;
    background-color: #FFB562;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px 5px 5px 5px;
    border: 2px solid #F87474;
    border-radius: 5px;
    font-family: 'Poppins', cursive;
}

input{
    display: none; 
}

input:checked + label{
   background-color:#DFF6FF;
}


section#Selecionar-ataque{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color:white;
    font-size: 12px;
    margin: auto;

}


h2#SelectAtack{
    color:white;
    font-size: 20px;
    margin: auto;
    margin: 30px 5px 20px 5px;
}

button.EstiloBoton{
    width: 70px;
    height: 30px;
    background-color: #FBDF07;
    padding: 5px; 
    box-sizing: border-box;
    margin: 5px 5px 5px 5px;
    border: 2px solid #FF7F3F;
    border-radius: 5px;
    color: #D1512D;
}


div#Mensajes{
    width: 200px;
    height: 60px;
    background-color: #F47340;
    padding: 5px; 
    box-sizing: border-box;
    margin: 5px 5px 5px 5px;
    border: 2px ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

p#resultado{
    width: 180px;
    height: 30px;
    background-color: #F47340;
    padding: 5px; 
    box-sizing: border-box;
    margin: 5px 5px 5px 5px;
    border: 2px ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
}

button#buttom_selec_reiniciar{
    border: transparent;
    margin: 5px 5px 5px 5px;
    border: 2px ;
    border-radius: 5px;
    background-color: #34B3F1;
    color: #000000;
    font-size: 10px;
}



div#ataque-Enem{
    width: 180px;
    height: 30px;
    background-color: #A66CFF;
    padding: 5px; 
    box-sizing: border-box;
    margin: 5px 5px 5px 5px;
    border: 2px ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}


div.FinJuego{
    display: grid;
    grid-template-columns: 240px 240px ;
}

p#Titulo-vidas{
    font-family: 'Press Start 2P' ;
    font-size: 12px;
    text-align: center  ;
}

p#Vida-Enemigo{
    font-family: 'Press Start 2P' ;
    font-size: 12px;
    background-color: transparent;
}

p#Vida-Juagdor{
    font-family: 'Press Start 2P' ;
    font-size: 12px;
    background-color: transparent;
}


div.menajes-ataquesJ, div.menajes-ataquesE{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin: 2px;
    
}

p{  
    display: flex;
    height: 20px;
    width: 30px;
    background-color: #F2F2F2;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}

p#P-Mascota{
    display: flex;
    background-color: transparent;
    height: 30px;
    width: 75px;
    flex-direction: column;
    align-items: center;
}

p#Mascota_Jugador, p#Titulo-vidas, p#Vida-Juagdor, p#Mascota_Rival,p#Titulo-vidas,p#Vida-Enemigo{
    display: flex;
    background-color: transparent;
    height: 20px;
    width: 200px;
    align-items: center;
    flex-direction: column;
}

section#Ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

canvas#Mapa{
    border: 2px solid white;
    /* height: 400px;
    width: 400px; */
}

div#Controles{
    display: flex;
    flex-direction: row;
    

}


div#BotonesMovimiento1{
    display: grid;
    width: 100px;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 10px;
}

div#BotonesMovimiento1 .item:nth-child(1){
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #00a6ed;
    align-content: center;
    border-radius: 5px;
}

div#BotonesMovimiento1 .item:nth-child(2){
    grid-column: 3/3;
    grid-row: 2/3;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #00a6ed;
    align-content: center;
    border-radius: 5px;
}

div#BotonesMovimiento1 .item:nth-child(3){
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #00a6ed;
    align-content: center;
    border-radius: 5px;
}

div#BotonesMovimiento1 .item:nth-child(4){
    grid-column: 2/3;
    grid-row: 3/3;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #00a6ed;
    align-content: center;
    border-radius: 5px;
}




div#BotonesMovimiento2{
    display: grid;
    width: 100px;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 10px;
}

div#BotonesMovimiento2 .item:nth-child(1){
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: 'Press Start 2P';
    color: #A66CFF;
    border-radius: 5px;
    border: white;
}

div#BotonesMovimiento2 .item:nth-child(2){
    grid-column: 3/3;
    grid-row: 2/3;
    font-family: 'Press Start 2P';
    color: #A66CFF;
    border-radius: 5px;
    border: white;
}

div#BotonesMovimiento2 .item:nth-child(3){
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: 'Press Start 2P';
    color: #A66CFF;
    border-radius: 5px;
    border: white;
}

div#BotonesMovimiento2 .item:nth-child(4){
    grid-column: 2/3;
    grid-row: 3/3;
    font-family: 'Press Start 2P';
    color: #A66CFF;
    border-radius: 5px;
    border: white;
}





/* ---------- EN ESTA PARTE SE MODIFICA EL LAYOUT EN OTROS TAMAÑOS ----------*/

@media (max-width:360px){
    h1.Titulo{
        width: 360px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        color:white;
        font-size: 16px;
        margin: auto;
    }

    h2.subtitulos{
        color:white;
        font-size: 16px; 

    }

    label.targeta_diseño img{
        width: 30px;
    }

    label.targeta_diseño{
        width: 70px;
        height: 75px;
        background-color: #3AB4F2;
        padding: 8px;
        box-sizing: border-box;
        margin: 4px;
        border: 4px solid #AFB4FF;
        font-size: 8px;
        border-radius: 5px;
        display: flex;
        align-content: center;
        justify-content: flex-start;
        flex-direction: column;


    }

    div.Targetas{
        flex-direction: column;

    }

    section.Selecionar-ataque{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        color:white;
        font-size: 8px;
        margin: auto;
    }

    h2#SelectAtack{
        color:white;
        font-size: 12px;
        margin: auto;
        margin: 20px 4px 20px 4 px;
    }

    button.EstiloBoton{
        width: 50px;
        height: 30px;
        background-color: #FBDF07;
        padding: 5px; 
        box-sizing: border-box;
        margin: 5px 5px 5px 5px;
        border: 2px solid #FF7F3F;
        border-radius: 5px;
        color: #D1512D;
        font-size: 8px;
    }

    div#Mensajes{
        width: 120px;
        height: 30px;
        background-color: #F47340;
        padding: 5px; 
        box-sizing: border-box;
        margin: 5px 5px 5px 5px;
        border: 2px ;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        font-size: 8px;
    }

    p#resultado{
        width: 100px;
        height: 20px;
        background-color: #F47340;
        padding: 5px; 
        box-sizing: border-box;
        margin: 2px 2px 2px 2px;
        border: 2px ;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6px;
    }


    div.FinJuego{
        display: grid;
        grid-template-columns: 120px 120px ;
    }

    p#Titulo-vidas{
        font-family: 'Press Start 2P' ;
        font-size: 6px;
    }
    p#Vida-Enemigo{
        font-family: 'Press Start 2P' ;
        font-size: 8px;
        color: #FF7F3F;
    }
    
    p#Vida-Juagdor{
        font-family: 'Press Start 2P' ;
        font-size: 8px;
        color: #FF7F3F;
    }

    div#ataque-JugaF{
        width: 90px;
        height: 20px;
        background-color: #FF7F3F;
        padding: 5px; 
        box-sizing: border-box;
        margin: 5px 5px 5px 5px;
        border: 2px ;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }
    

    button#buttom_selec_reiniciar{
        border: transparent;
        margin: 5px 5px 5px 5px;
        border: 2px ;
        border-radius: 5px;
        background-color: #34B3F1;
        color: #000000;
        font-size: 8px;

    }
    
    div.menajes-ataquesJ, div.menajes-ataquesE{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
